<div>
  <div class="container">
    <h1>Group Generator</h1>

    <ul class="flex column names-container">
      <li>Names</li>
      <li>Names</li>
      <li>Names</li>
    </ul>

    <div class="flex gap name-input-container">
      <input 
        type="text"
        placeholder="Name"
      />
      <button>Add Name</button>
    </div>

    <div class="flex gap number-input-container">
      <input 
        type="number"
        placeholder="# of Groups"
      />
      <button>Generate</button>
    </div>

  </div>
</div>